$styles :about-us;
.#{$styles} {
    @include flex (center, center, row);
    padding: 86px 0px 86px 0px;
    &__title {
        position: relative;
        @include text ($H600, 400, $color_text_black);
        font-family: $Playfair_display;
        margin-bottom: 24px;
        padding-bottom: 20px;
    }
    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        height: 2px;
        background-color: $color_line;
        right: 0;
        display :block;
    }
    &__subtitle {
        @include text ($H100, 400, $color_text_black);
        font-family: $Proxima_nova;  
        margin-bottom: 24px;
    }
  &__image-wrapper {
      width: 33%;
      height: 300px;
      background: url(../img/about_us/about.png) no-repeat center center;
      background-size: cover;
      margin-right: 90px;
      transition: all .7s;
  }
  @media (min-width: 960px) {
    &__image-wrapper:hover {
        transform: scale(1.2);
    }
}
  &__text-wrapper {
      width: 360px;
  }
@media(max-width: 375px), (max-width: 768px){
    &__image-wrapper{
        width: 375px;
        margin-right: 0px;
    }
}
@media(max-width: 375px), (max-width: 768px){
    &__text-wrapper{
        @include flex(center, center, column);
    }
}
}
.button__about-us {
    margin-bottom: 100px;
}
@media (max-width: 375px), (max-width: 768px) {
    .about-us{
        flex-direction: column;
    }
}
@media (max-width: 375px), (max-width: 768px) {
    .button__about-us{
        display: flex;
        justify-content: center;
    }
}