$styles :charger;
.#{$styles} {
    @include flex (center, center, row);
    padding-top: 114px;
    padding-bottom: 120px;
    
    &__image-wrapper {
        background: url(../img/charger/bg.png) no-repeat center center;
        background-size: cover;
        flex-basis: 30%;
        min-height: 525px;
        margin-right: 92px;
        transition: all .7s;
    }
    @media (min-width: 960px) {
        &__image-wrapper:hover {
            transform: scale(1.2);
        }
    }
    &__text-wrapper {
        @include flex (center, center, column);
        flex-basis: 30%;
    }
    &__title {
        position: relative;
        @include text ($H600, 400, $color_text_black);
        font-family: $Playfair_display; 
        margin-bottom: 56px;
        align-self: flex-start;
    }
    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 2px;
        background-color: $color_line;
        right: 0;
        display :block;
    }
    &__text {
        @include text ($H100, 400, $color_text_black);
        font-family: $Proxima_nova; 
        margin-bottom: 39px;
    }
    &__button {
        align-self: flex-start;
    }
}