$styles :header;
.#{$styles} {
    @include flex  (space-around, center, row);
    background-color: #110d0c;
    padding-top: 10px;
    padding-bottom: 10px;

    &__logo{
        @include flex (center, center, row);
    }
    &__logo__text-wrapper {
        @include flex (center, start, column);
    }
    &__logo__title{
        @include text (  $H500,bold, $color_text_white);
        font-family: $Playfair_display;
        text-transform: uppercase;
    }
    &__logo__subtitle{
        @include text ( $H20, 400, $color_text_white);
        font-family: $Proxima_nova;
        text-transform: uppercase;
    }
   &__logo__img {
       margin-right: 10px;
   }
   &__menu__title {
    @include text ( $H50, 400, $color_text_white);
    font-family: $Proxima_nova;
    text-transform: uppercase;
   }
   &__menu {
       @include flex (center, center, row);
   }
}
