$styles :header;
.#{$styles} {
    position: relative;
    @include flex  (space-around, center, row);
    background-color: var(--background_color);
    padding-top: 10px;
    padding-bottom: 10px;

    &__logo{
        @include flex (center, center, row);
    }
    &__logo__text-wrapper {
        @include flex (center, start, column);
    }
    &__logo__title{
        @include text (  $H500,bold, var(--color_text_white));
        font-family: $Playfair_display;
        text-transform: uppercase;
    }
    &__logo__subtitle{
        @include text ( $H20, 400,var(--color_text_white));
        font-family: $Proxima_nova;
        text-transform: uppercase;
    }
   &__logo__img {
       margin-right: 10px;
   }
   &__menu__title {
    @include text ( $H50, 400, var(--color_text_white));
    font-family: $Proxima_nova;
    text-transform: uppercase;
    transition: all .8s;
   }
   &__menu {
       @include flex (center, center, row);
   }
   @media (min-width: 992px) {
    &__menu:hover {
        cursor: pointer;
        color: $color_line;
    }
}
@media (min-width: 992px) {
    &__menu__title:hover {
        cursor: pointer;
        color: $color_line;
    }
}
   &__menu__img {
       width: 15px;
       height: 10px;
       margin-right: 10px;
   }
 
}
.navigation__menu-burger {
    @include flex(flex-end, flex-end,column);
    background-color:var(--background_color);
    padding: 20px 20px;
    position: absolute;
    z-index: 2;
    left:68%;
    display: none;
}
@media (max-width:375px),(max-width:768px){
    .navigation__menu-burger {
        left:50%;
  
    }    
}
.navigation__items-burger {
    margin-bottom: 10px;
}
.navigation__items-burger:last-child {
    margin-bottom: 0px;
}


.header__switch {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
}
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #e3a062;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}