$styles :header;
.#{$styles} {
    position: relative;
    @include flex  (space-around, center, row);
    background-color: #110d0c;
    padding-top: 10px;
    padding-bottom: 10px;

    &__logo{
        @include flex (center, center, row);
    }
    &__logo__text-wrapper {
        @include flex (center, start, column);
    }
    &__logo__title{
        @include text (  $H500,bold, $color_text_white);
        font-family: $Playfair_display;
        text-transform: uppercase;
    }
    &__logo__subtitle{
        @include text ( $H20, 400, $color_text_white);
        font-family: $Proxima_nova;
        text-transform: uppercase;
    }
   &__logo__img {
       margin-right: 10px;
   }
   &__menu__title {
    @include text ( $H50, 400, $color_text_white);
    font-family: $Proxima_nova;
    text-transform: uppercase;
    transition: all .8s;
   }
   &__menu {
       @include flex (center, center, row);
   }
   @media (min-width: 960px) {
    &__menu:hover {
        cursor: pointer;
        color: $color_line;
    }
}
@media (min-width: 960px) {
    &__menu__title:hover {
        cursor: pointer;
        color: $color_line;
    }
}
   &__menu__img {
       width: 15px;
       height: 10px;
       margin-right: 10px;
   }
 
}
.navigation__menu-burger {
    @include flex(flex-end, flex-end,column);
    background-color:#110d0c;
    padding: 20px 20px;
    position: absolute;
    z-index: 2;
    left:85%;
    display: none;
}
.navigation__items-burger {
    margin-bottom: 10px;
}
.navigation__items-burger:last-child {
    margin-bottom: 0px;
}