$styles : project;
.#{$styles} {
    @include flex (center,space-between,column);
    padding-top: 180px;
    padding-bottom: 114px;
    &__title {
        position: relative;
        @include text ($H600, 400, $color_text_black);
        font-family: $Playfair_display; 
        margin-bottom: 60px;
        align-self: center;
        text-align: center;
        padding-bottom: 5px;
    }
    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        height: 2px;
        background-color: $color_line;
        right: 0;
        display :block;
        margin: 0 auto;
    }
    &__row-top {
        @include flex (space-between, flex-end, row);
        flex-wrap: nowrap;
        margin-bottom: 56px;
    }
    @media (max-width:375px),(max-width:768px){
        &__row-top{
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }  
    }
    
    @media (max-width:375px),(max-width:768px){
        &__row-top:last-child{
            margin-bottom: 0px;
        }  
    }
    &__row-bottom {
        @include flex (space-between, flex-end, row);
        flex-wrap: nowrap;
        margin-bottom: 60px;
    }
    @media (max-width:375px),(max-width:768px){
        &__row-bottom {
         flex-direction: column;   
         align-items: center;
        }  
    }
     // картинки верхнего ряда
    &__row-top__items:nth-child(1) {
        min-width: 200px;
        min-height: 139px;
        background: url(../img/projects/111.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(2) {
        min-width: 216px;
        min-height: 139px;
        background: url(../img/projects/2222.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(3) {
        min-width: 275px;
        min-height: 177px;
        background: url(../img/projects/3333.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(4) {
        min-width: 200px;
        min-height: 139px;
        background: url(../img/projects/4444.jpg) no-repeat center center;
        background-size: cover;  
    } 
    @media (max-width: 375px),(max-width:768px){
        &__row-top__items {
            margin-bottom: 20px;
        }
    }
    // картинки нижнего ряда 
    &__row-bottom__items:nth-child(1) {
        min-width: 18px;
        min-height: 139px;
        background: url(../img/projects/5.jpg) no-repeat center center;
        background-size: cover;
    }
    @media (max-width: 375px),(max-width:768px){
        &__row-bottom__items:nth-child(1) {
           display: none;
        }
    }
    &__row-bottom__items:nth-child(2) {
        min-width: 213px;
        min-height: 139px;
        background: url(../img/projects/666.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(3) {
        min-width: 270px;
        min-height: 178px;
        background: url(../img/projects/7.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(4) {
        min-width: 212px;
        min-height: 139px;
        background: url(../img/projects/8.jpg) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(5) {
        min-width: 146px;
        min-height: 139px;
        background: url(../img/projects/9.jpg) no-repeat center center;
        background-size: cover;
    }
    @media (max-width: 375px),(max-width:768px){
        &__row-bottom__items {
            margin-bottom: 20px;
        }
    }
   &__row-bottom__items, &__row-top__items {
       transition: all 1s;
   }
   &__row-bottom__items:hover {
    transform: scale(1.2);  
 }
 &__row-top__items:hover {
    transform: scale(1.2);  
 }
    &__button {
        align-self: center;
    }
}