$styles : project;
.#{$styles} {
    @include flex (center,space-between,column);
    padding-top: 180px;
    padding-bottom: 114px;
    &__title {
        @include text ($H600, 400, $color_text_black);
        font-family: $Playfair_display; 
        margin-bottom: 60px;
        border-bottom: 2px solid $color_text_gold;
        align-self: center;
    }
    &__row-top {
        @include flex (space-between, flex-end, row);
        flex-wrap: nowrap;
        margin-bottom: 56px;
    }
    &__row-bottom {
        @include flex (space-between, flex-start, row);
        flex-wrap: nowrap;
         margin-bottom: 60px;
    &__image-wrapper{
        @include flex(space-between, center, column);
    }
    } // картинки верхнего ряда
    &__row-top__items:nth-child(1) {
        min-width: 200px;
        min-height: 139px;
        background: url(../img/projects/111.png) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(2) {
        min-width: 216px;
        min-height: 139px;
        background: url(../img/projects/2222.png) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(3) {
        min-width: 275px;
        min-height: 177px;
        background: url(../img/projects/3333.png) no-repeat center center;
        background-size: cover;
    }
    &__row-top__items:nth-child(4) {
        min-width: 200px;
        min-height: 139px;
        background: url(../img/projects/4444.png) no-repeat center center;
        background-size: cover;
    } // картинки нижнего ряда 
    &__row-bottom__items:nth-child(1) {
        min-width: 18px;
        min-height: 139px;
        background: url(../img/projects/5.png) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(2) {
        min-width: 213px;
        min-height: 139px;
        background: url(../img/projects/666.png) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(3) {
        min-width: 270px;
        min-height: 178px;
        background: url(../img/projects/7.png) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(4) {
        min-width: 212px;
        min-height: 139px;
        background: url(../img/projects/8.png) no-repeat center center;
        background-size: cover;
    }
    &__row-bottom__items:nth-child(5) {
        min-width: 146px;
        min-height: 139px;
        background: url(../img/projects/9.png) no-repeat center center;
        background-size: cover;
    }
    &__button {
        align-self: center;
    }
}