$styles : servises;
.#{$styles} {
    position: relative;
    background: url(../img/services/bgimage.png) no-repeat center center;
    padding-top: 117px;
   
    &__row-wrapper {
        @include flex(space-around, center, row);  
    }
    &__row-wrapper-top {
        @include flex(space-around, center, row);
        margin-bottom: 54px;
    }
    @media (max-width: 375px),(max-width: 768px){
        &__row-wrapper-top {
            flex-direction: column;
            align-items: center;
        }
    }
    &__tab {
        position: relative;
        top: 70px;
        @include flex (center, stretch, row);  
    }
    @media (max-width: 375px),(max-width: 768px){
        &__tab {
            flex-direction: column;
            align-items:center
        }
    }
    &__title {
        position: relative;
        @include flex (center,center,row);
        @include text ($H600, 400, $color_text_white);
        font-family: $Playfair_display; 
        z-index: 5;
    }
    @media (max-width:375px),(max-width: 768px){
        &__title{
            margin-bottom: 50px;
        }
    }
    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 2px;
        background-color: $color_line;
        right: 0;
        display :block;
    }
    &__link-more-top {
        position: relative;
        z-index: 5;
    }
    //card style 
    &__tab__item {
        position: relative;
        @include flex (center, center, column);
        padding: 76px 52px 57px 52px;
        margin-right: 25px;
        width: 100%;  
        min-height: 375px;;
        z-index: 5;
    }
    &__tab__item:after { //затемнение картинок
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.6);
        z-index: 2;
}
    @media (min-width: 960px) {
        &__tab__item:hover {
        cursor: pointer;        
    }
    }
    &__tab__item:last-child{
        margin-right: 0px;
        background: url(../img/services/igor-ovsyannykov-267661@1X.png) no-repeat center center;
        background-size: cover;
    }
    &__tab__item:first-child{
        background: url(../img/services/trevor-bobyk-422783@1X.png) no-repeat center center;
        background-size: cover;
    }
    &__tab__item:nth-child(2){
        background: url(../img/services/semen-borisov-361522@1X.png) no-repeat;
        background-size: cover;
    }
    
    &__tab__item__title {
        @include text($H520, 400, $color_text_white);
        font-family: $Proxima_nova;
        padding-bottom: 16px;
        display: inline-block;
        margin-bottom: 22px;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    &__tab__item__text {
        @include text($H100, 400, $color_text_white);
        font-family: $Proxima_nova;
        line-height: 25px;
        margin-bottom: 37px;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    &__link-more {
        position: relative;
        z-index: 5; 
    }
    //end card style
}

.servises:after {//затемнение фоновой картинки 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    z-index: 1;
}

.active {
    outline: 3px solid $color_border;
    outline-offset: -20px;
}
.active_title {
    border-bottom: 2px solid $color_border;
    
} 
.services__vertical-text {
    position: relative;
    z-index: 5;
    align-self: flex-start;
}