.vertical-text {
    @include text ($H50, 400, $color_text_gold);
    display: inline-block;
    transform: rotate(270deg);
    font-family: $Playfair_display;
    text-align: left;
}

.vertical-text:after, 
.vertical-text:before {
    content: '';
    vertical-align: middle;
    width: 100%;
	height: 2px;
    background: $color_text_gold;
    border: solid #FFF;
    border-width: 0px 0px;
    display: inline-block;
    box-sizing: border-box;
}

.vertical-text:after {
    margin-right: -100%;
}
.vertical-text:before {
    margin-right: -250%;
}